{% extends 'base.html' %}

{% block title %}Product Hunt | SignUp{% endblock %}

{%block content %}

{% if error %}
<p class="alert alert-danger">{{ error }}</p>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Sign Up</h1>
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="email" class="form-control" name="username" aria-describedby="usernameHelp" placeholder="Enter valid e-mail" required>
                    <small id="usernameHelp" class="form-text text-muted">We'll never share your e-mail with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="Password1">Password</label>
                    <input type="password" class="form-control" name="password1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" name="password2" placeholder="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>
{%endblock %}
